.Press_root {
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 30px;
    /*border: 1px solid black;*/
}

.Press_preTitle {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: right;
    color: #d13715;
    padding-bottom: 24px;
}

.Press_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Press_title {
    color: #d13715;
    font-family: 'SequelLight', 'Open Sans', serif;
    font-size: 80px;
    padding: 0 10px;
    width: 100%;
}

.Press_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1300px;
    margin: 20px 50px;
    color: #1d3f53;
}

.Press_list_item {
    flex: 1 1 204px;
    margin: 10px;
    text-align: center;
    color: #4a9a96;
    max-width: 280px;
}

.Press_list_item img {
    max-height: 26px;
}

.Press_wishList_wrapper {
    display: inline-block;
    margin: 80px 10px 30px;
    position: relative;
}

.Press_wishList_crow {
    position: absolute;
    top: -22px;
    right: 60px;
    height: auto !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    transform: scale(4);
}

.Press_wishList_button {
    background: transparent;
    border: 4px solid #1d3f53;
    color: #1d3f53;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 50px;
    margin-right: 45px;
    transition: all 200ms ease-in-out 0s;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.Press_wishList_button:hover, .Press_wishList_button:active {
    color: white;
    border: 4px solid #d13715;
    background-color: #d13715;
}

@media (max-width: 500px) {
    .Press_list {
        margin: 20px 70px 20px 10px;
    }
    .Press_wishList_button {
        padding: 20px 40px;
        font-size: 14px;
    }
    .Press_wishList_crow {
        transform: scale(3);
        top: -18px;
    }

    .Press_preTitle {
        padding-bottom: 14px;
    }
    .Press_title {
        font-size: 50px;
    }
}