.Logo_root {
    position: fixed;
    top: calc(50vh - 125px);
    left: auto;
    z-index: 999999;
    transition: all 600ms ease-in-out 0s;
}

.Logo_root.LogoUp {
    top: -50px;
    transform: scale(0.6);
}

.Logo_wrapper {
    position: relative;
    height: 250px;
    width: 250px;
    text-align: center;
}

.Logo_eye {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

.Logo_eye_ribbon_right {
    position: absolute;
    top: 96px;
    left: 150px;
}
.Logo_eye_ribbon_left {
    position: absolute;
    top: 96px;
    right: 150px;
    transform: scaleX(-1);
}

.Logo_eye_left_title {
    position: absolute;
    top: 96px;
    right: 230px;
    opacity: 0;
    transition: all 1000ms ease-in-out 0s;
}

.Logo_eye_right_title {
    position: absolute;
    top: 96px;
    left: 230px;
    opacity: 0;
    transition: all 1000ms ease-in-out 0s;
}

.Logo_eye_left_title.visible, .Logo_eye_right_title.visible {
    opacity: 1;
}

@media (max-width: 1000px) {
    .Logo_root {
        top: 0;
    }
    .Logo_root.LogoUp {
        top: -55px !important;
        transform: scale(0.55) !important;
    }
}
@media (max-width: 680px) {
    .Logo_root.LogoUp {
        top: -65px !important;
        transform: scale(0.45) !important;
    }
}
@media (max-width: 530px) {
    .Logo_root.LogoUp {
        top: -75px !important;
        transform: scale(0.35) !important;
    }
}

@media (max-height: 600px) {
    .Logo_root {
        top: -30px;
        transform: scale(0.8);
    }
}

